<div class="container py-4">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title">Welcome to FBR POS Dashboard</h1>
          <p class="card-text">You are logged in!</p>
          
          <div class="d-flex gap-3 my-4">
            <a routerLink="/pos" class="btn btn-primary">
              <mat-icon class="me-2">shopping_cart</mat-icon>
              POS Sales
            </a>
            <a routerLink="/products" class="btn btn-success">
              <mat-icon class="me-2">inventory_2</mat-icon>
              Products
            </a>
            <a routerLink="/fbr-sandbox" class="btn btn-info">
              <mat-icon class="me-2">science</mat-icon>
              FBR Sandbox
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>